.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 24px;
}

.content {
    display: flex;
    align-items: center;
    cursor: auto;
}

.tab-item {
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #000000;
    border-radius: 1rem;

}

.tab-item.active {
    border-color: #000;
    background: #00ff55;
    color: #010101;
    
}